ISSUER_BASE_URL=https://dev-1fphvam6ygtpjghh.eu.auth0.com
CLIENT_ID=v4rCPsCma0oCl4qLs96MmGoMhXIJLU36

# 32+ character random string to encrypt the session cookie
#
# We're generating a secret for your convenience, but for production,
# generate your own secret using `openssl rand -hex 32`
SECRET=10803be3a71d0e94c7107786ddf4ef71e25eedb11d7a3d0d557835aef9e8a24e

BASE_URL=http://localhost:3007
PORT=3007
