# To run the app in LOCAL mode, either turn MODE to LOCAL
# or delete the .env file entirely
MODE=HOSTED

# Fill these details to run in HOSTED mode or to be able
# to use SYNC mode while in LOCAL mode

ISSUER_BASE_URL=https://<tenant>.eu.auth0.com
CLIENT_ID=<client-id>

# 32+ character random string to encrypt the session cookie
#
# We're generating a secret for your convenience, but for production,
# generate your own secret using `openssl rand -hex 32`
SECRET=<secret>

BASE_URL=http://<base-url>:3007
PORT=3007
